@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Koval Vladyslav, group 41</h1>
    <h1 class="display-4">Launch labs №1, №2, and №3 through a web application in Lab 5.</h1>
</div>
