@model Lab5.Models.L3DataModel

@{
    ViewData["Title"] = "Lab3";
}

<h2>Lab3 - City Roads Analysis</h2>
<p>Enter the input data for city roads analysis. The input should contain the number of cities (N), the number of roads (M), and the information about each road.</p>

<form method="post" asp-controller="Labs" asp-action="Lab3">
    <div class="form-group">
        <label for="inputData">Enter Input Data:</label>
        <textarea class="form-control" id="inputData" asp-for="InputData" rows="6"></textarea>
        <small class="form-text text-muted">Format: The first line contains N and M. The next M lines contain two numbers, each representing a road.</small>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Analyze</button>
</form>

<text> &nbsp; &nbsp; &nbsp;</text>

@if (Model != null)
{
    <div class="container mt-5">
        @if (!string.IsNullOrEmpty(Model.ErrorValue))
        {
            <div class="alert alert-danger" role="alert">
                @Model.ErrorValue
            </div>
        }
        @if (!string.IsNullOrEmpty(Model.Calculated))
        {
            <div class="form-group">
                <h3 class="control-label">Result: @Model.Calculated</h3>
            </div>
        }
    </div>
}
